Bin/*.*
BinR/*.*

obj/
*.suo
Release
Debug
*.user
*.pdb

/Thales.SICUID.ConfigurationCreator/ApisConfigurationCreator/ApisCfg/ApisDictionary - Kopia.xml

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
bin_release/
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/storage.ide
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/db.lock
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/storage.ide
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/storage.ide
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/storage.ide-shm
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/storage.ide-wal
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/db.lock
Assignment_Code/.vs/Assignment/v15/Server/sqlite3/storage.ide
